In [1]:
import pandas as pd
import numpy as np

In [2]:
ace = pd.read_csv('/home/amaqueda/TFM/ML_project/PTM_sites/input/dbPTM/Ace_human', sep = '\t', header = None)
ace.head()

,0,1,2,3,4,5
0,IMA3_HUMAN,O00629,2,Acetylation,22814378;19413330,---------MADNEKLDNQRL
1,APC7_HUMAN,Q9UJX3,263,Acetylation,23954790;23749302;23236377;19608861;25953088;2...,RAISTICSLEKKSLLRDNVDL
2,APC7_HUMAN,Q9UJX3,467,Acetylation,23749302;25953088,TQEKAKTLLDKALTQRPDYIK
3,WASL_HUMAN,O00401,2,Acetylation,19413330;22814378;22223895,---------MSSVQQQPPPPR
4,BIN1_HUMAN,O00499,2,Acetylation,22814378,---------MAEMGSKGVTAG

In [35]:
ubi[5].value_counts(dropna=False)

RGYDQSAYDGKDYIALNEDLR    533
TCHVQHEGLPKPLTLRWEPSS    373
TAADMAAQITKRKWEAAHEAE    321
TCHVQHEGLPKPLTLRWDKEG    296
EWLRRYLENGKETLQRAEHPK    206
                        ...
KEEKHKEEKHKEKKSKDLTAA      1
EKHKEEKHKEKKSKDLTAADV      1
KHKEEKHKEKKSKDLTAADVV      1
LTAADVVKQWKEKKKKKKPIQ      1
-----MQKLLKQDIEASSLKQ      1
Name: 5, Length: 99856, dtype: int64

In [13]:
# Ventana de +- 10 aa respecto al PTM
# KNKGRDLETM R RQRNEVVVEL

In [3]:
meth = pd.read_csv('/home/amaqueda/TFM/ML_project/PTM_sites/input/dbPTM/Meth_human', sep = '\t', header = None)
meth.head()

            0       1    2            3          4                      5
0  IMA3_HUMAN  O00629   26  Methylation  115481375  KNKGRDLETMRRQRNEVVVEL
1  IMA3_HUMAN  O00629   37  Methylation  115481391  RQRNEVVVELRKNKRDEHLLK
2  NFIB_HUMAN  O00712  335  Methylation   54557627  SSASPQDSSPRLSTFPQHHHP
3  NFIB_HUMAN  O00712  388  Methylation  116265217  PSSYFSHPTIRYPPHLNPQDT
4  NFIB_HUMAN  O00712  400  Methylation  116265231  PPHLNPQDTLKNYVPSYDPSS

In [4]:
phospho = pd.read_csv('/home/amaqueda/TFM/ML_project/PTM_sites/input/dbPTM/Phospho_human', sep = '\t',header = None)
phospho.head()

,0,1,2,3,4,5
0,IMA3_HUMAN,O00629,24,Phosphorylation,18212344,NFKNKGRDLETMRRQRNEVVV
1,IMA3_HUMAN,O00629,60,Phosphorylation,29255136;22167270;23927012;18707149;25159151;2...,NVPHEDICEDSDIDGDYRVQN
2,IMA3_HUMAN,O00629,66,Phosphorylation,23927012;28674151;25852190;28796482;29978859;2...,ICEDSDIDGDYRVQNTSLEAI
3,IMA3_HUMAN,O00629,71,Phosphorylation,30278072;20068231;27050516;28176443;21712546;2...,DIDGDYRVQNTSLEAIVQNAS
4,IMA3_HUMAN,O00629,72,Phosphorylation,28464451;30278072;20068231;25159151;21955146;2...,IDGDYRVQNTSLEAIVQNASS

In [5]:
ubi = pd.read_csv('/home/amaqueda/TFM/ML_project/PTM_sites/input/dbPTM/Ubi_human', sep = '\t',header = None)
ubi.head()

,0,1,2,3,4,5
0,IMA3_HUMAN,O00629,6,Ubiquitination,24816145;33845483,-----MADNEKLDNQRLKNFK
1,IMA3_HUMAN,O00629,97,Ubiquitination,21890473;22817900,IQLSAVQAARKLLSSDRNPPI
2,IMA3_HUMAN,O00629,386,Ubiquitination,21890473;22817900;2189047,LLDKGDFGTQKEAAWAISNLT
3,APC7_HUMAN,Q9UJX3,99,Ubiquitination,21906983,HDKEYRNAVSKYTMALQQKKA
4,APC7_HUMAN,Q9UJX3,153,Ubiquitination,21906983,AECYTMLKQDKDAIAILDGIP

In [6]:
print(ace.shape)
print(meth.shape)
print(phospho.shape)
print(ubi.shape)

(46237, 6)
(8779, 6)
(506507, 6)
(293827, 6)

In [7]:
merge = pd.concat([ace,meth,phospho,ubi], axis = 0)
print(merge.shape)
merge

(855350, 6)

,0,1,2,3,4,5
0,IMA3_HUMAN,O00629,2,Acetylation,22814378;19413330,---------MADNEKLDNQRL
1,APC7_HUMAN,Q9UJX3,263,Acetylation,23954790;23749302;23236377;19608861;25953088;2...,RAISTICSLEKKSLLRDNVDL
2,APC7_HUMAN,Q9UJX3,467,Acetylation,23749302;25953088,TQEKAKTLLDKALTQRPDYIK
3,WASL_HUMAN,O00401,2,Acetylation,19413330;22814378;22223895,---------MSSVQQQPPPPR
4,BIN1_HUMAN,O00499,2,Acetylation,22814378,---------MAEMGSKGVTAG
...,...,...,...,...,...,...
293822,ZY11B_HUMAN,Q9C0D3-2,262,Ubiquitination,21906983,SDIALRLLEQKDILPNLVSLD
293823,ZY11B_HUMAN,Q9C0D3-2,332,Ubiquitination,21906983,ANETQIAEALKRYSERAFFVR
293824,ZYX_HUMAN,B4DQX7,108,Ubiquitination,21890473;21906983,PPASSPAPAPKFSPVTPKFTP
293825,ZYX_HUMAN,B4DQX7,122,Ubiquitination,21890473;21906983,VTPKFTPVASKFSPGAPGGSG
293826,ZZEF1_HUMAN,O43149-1,2501,Ubiquitination,21890473,KTDYFFLEVQKRFDGDELTTD

In [8]:
merge.rename(columns = {0:'Uniprot_ID',1:'Uniprot_Accession',2:'AA_POS',3:'MOD_TYPE',4:'PubMed_ID',5:'Sequence'}, inplace = True)
merge.columns

Index(['Uniprot_ID', 'Uniprot_Accession', 'AA_POS', 'MOD_TYPE', 'PubMed_ID',
       'Sequence'],
      dtype='object')

In [36]:
merge = merge[~merge['Sequence'].isnull()]
merge.shape

(855142, 6)

In [38]:
merge['Residue'] = [i[10] for i in merge['Sequence'].tolist()]
merge

/tmp/ipykernel_16873/3851903431.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merge['Residue'] = [i[10] for i in merge['Sequence'].tolist()]

,Uniprot_ID,Uniprot_Accession,AA_POS,MOD_TYPE,PubMed_ID,Sequence,Residue
0,IMA3_HUMAN,O00629,2,Acetylation,22814378;19413330,---------MADNEKLDNQRL,A
1,APC7_HUMAN,Q9UJX3,263,Acetylation,23954790;23749302;23236377;19608861;25953088;2...,RAISTICSLEKKSLLRDNVDL,K
2,APC7_HUMAN,Q9UJX3,467,Acetylation,23749302;25953088,TQEKAKTLLDKALTQRPDYIK,K
3,WASL_HUMAN,O00401,2,Acetylation,19413330;22814378;22223895,---------MSSVQQQPPPPR,S
4,BIN1_HUMAN,O00499,2,Acetylation,22814378,---------MAEMGSKGVTAG,A
...,...,...,...,...,...,...,...
293822,ZY11B_HUMAN,Q9C0D3-2,262,Ubiquitination,21906983,SDIALRLLEQKDILPNLVSLD,K
293823,ZY11B_HUMAN,Q9C0D3-2,332,Ubiquitination,21906983,ANETQIAEALKRYSERAFFVR,K
293824,ZYX_HUMAN,B4DQX7,108,Ubiquitination,21890473;21906983,PPASSPAPAPKFSPVTPKFTP,K
293825,ZYX_HUMAN,B4DQX7,122,Ubiquitination,21890473;21906983,VTPKFTPVASKFSPGAPGGSG,K
293826,ZZEF1_HUMAN,O43149-1,2501,Ubiquitination,21890473,KTDYFFLEVQKRFDGDELTTD,K

In [39]:
merge[['Uniprot_ID', 'Uniprot_Accession', 'AA_POS', 'MOD_TYPE', 'Sequence','Residue']].to_csv('/home/amaqueda/TFM/ML_project/PTM_sites/output/dbPTM/all.tsv', sep = '\t', index = False)

In [40]:
merge.drop_duplicates(subset = ['Uniprot_ID','Uniprot_Accession','AA_POS','MOD_TYPE','Residue']).shape

(855142, 7)

### SI SE HACE ALGO MÁS, AQUÍ DEBAJO